body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

#header {
    background-color: rgb(22, 5, 43);
    height: 80vh;
}

.menu {
    padding: 20px;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
}

.menu-logo {
    align-items: center;
}

.menu-main {
    display: flex;
    align-items: center;
}

.menu-left {
    padding-right: 40px;
}

ul {
    list-style-type: none;
    display: flex;
}

hr.line {
    border-bottom: 1px solid white;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.menu-right {
    display: flex;
    align-items: center;
}

.icon {
    padding-left: 10px;
}

.contact {
    border: 1px solid white;
    border-radius: 15px;
    padding: 0 15px;
}

p {
    color: white;
    display: inline-block;
}

.content-header {
    text-align: center;
    padding-top: 10%;
}

.logo-content {
    color: blue;
    font-size: xxx-large;
}

h1 {
    color: white;
}

hr.line1 {
    border-bottom: 1px #3a2f2f;
    width: 100px;
}

.line2 {
    position: absolute;
    right: 10%;
    bottom: 40%;
}

.line3 {
    border-bottom: 1px #3a2f2f;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

#main {
    height: 100%;
    width: 100%;
}

.main-top {
    height: 80vh;
    background-color: darkslateblue;
}

.mid {
    height: 80vh;
    width: 100%;
}

.title {
    width: 20%;
    position: relative;
    top: 26%;
}

.title-main {
    display: inline-block;
    transform: rotate(-90deg);
}

img {
    width: 798px;
    height: 350px;
    transform: translateY(-45%);
}

.img {
    padding: 0;
}

.content-main {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    transform: translateY(-158px);
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cmt {
    display: flex;
    position: absolute;
    padding: 10px;
    background-color: white;
    right: 5%;
}

p.pra {
    display: block;
}

.mid-top {
    text-align: -webkit-center;
}

.main-center {
    background-color: #562bbb;
    height: 80vh;
}

.main-bot {
    height: 80vh;
    background-color: #192c55;
}

.footer {
    background-color: rgb(22, 5, 43);
    height: 60vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
}

.item3 {
    display: flex;
    justify-content: space-between;
}

.item {
    display: grid;
    text-align: center;
}

u {
    color: white;
}

p.awesome {
    opacity: 0.25;
    margin-top: 80%;
}